.buttonBox {
    margin-top: 30px;
    background-color: green;
    /* width: 300px; */
    height: 300px;
    width: 100%;
    height: calc(100% - 110px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
}